<!-- versions dropdown-->
<div class="dropdown">
  <a role="button" class="btn btn-versions dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="versions">
    <!--
      Name the label dropdown after the release version so that you know
      which version you're browsing. For `/archives` show 'Archives' since
      they're supposed to be versionless.
      If we build on master and stable branches (versions), show the branch
      name in the dropdown menu. For local development and review apps, show
      "Versions".
    -->
    <% if archives? %>
    Archives
    <% else %>
      <% if ENV['NANOC_ENV'] == 'production' %>
        <%= ENV['CI_COMMIT_REF_NAME'] %>
      <% else %>
        Versions
      <% end %>
    <% end %>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu versions-menu" aria-labelledby="versions">
    <li<%= active_dropdown('master') %>>
      <a href='<%= @item.identifier.without_ext + '.html' %>' class="versions-tooltip">master
        <i class="fa fa-question-circle-o" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="The latest docs from GitLab's master branches, to which this site defaults."></i>
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <% @items['/_data/versions.yaml'][:online].each do |version| %>
      <!--
        If we are on the archives page, the link here is hardcoded to always
        point to `/archives/`. If you visit https://docs.gitlab.com/archives/
        and select a version from the dropdown, that version's archives page
        will be shown. We want to always show the latest archives page as it
        contains all current versions and offline archives.
      -->
      <% if archives? %>
        <li>
          <a href='/archives/'>
            <%= version %>
          </a>
        </li>
      <% else %>
        <li<%= active_dropdown(version) %>>
          <a href='/<%= version %><%= @item.identifier.without_ext + '.html' %>'>
            <%= version %>
          </a>
        </li>
      <% end %>
    <% end %>
    <li role="separator" class="divider"></li>
    <li<%= active_dropdown('archives') %>><a href='/archives/'>Archives</a></li>
  </ul>
</div>
<!-- versions dropdown-->
